/* SCROLL AREA */
.PPScrollArea :global(.mantine-ScrollArea-viewport),
.PPScrollArea :global(.mantine-ScrollArea-viewportInner) {
   height: 100%;
}

:global(.mantine-ScrollArea-viewport):has(.PPRoot) {
   height: 100%;
}

:global(.mantine-ScrollArea-viewportInner):has(.PPRoot) {
   height: 100%;
}

:global(.mantine-ScrollArea-content):has(.PPRoot) {
   height: 100%;
}

/* BUTTONS */
.PPRoot {
   height: 100%;
   width: 100%;
   display: grid;
   /*grid-template-rows: repeat(3, minmax(0, 1fr));*/
   gap: var(--mantine-spacing-lg);
}

.PPBtn {
   width: 100%;
   height: 100%;
   border-radius: 0;
}

.PPRoot :global(.mantine-Button-root) {
   height: 100% !important;
   min-height: 0 !important;

   --button-height: 100% !important;

   align-self: stretch;
   width: 100%;
   font-size: xx-large;
}


/* SWITCHES */
.thumb {
   padding: 10%;
}

.thumb:hover,
.track:hover {
   transition:
      background-color 200ms ease;
}

.thumb:hover {
   background-color: var(--mantine-color-gray-3);
}

.track:hover {
   background-color: var(--mantine-color-blue-7);
}

.track {
   transition:
      background-color 200ms ease,
      border-color 200ms ease;
   width: 180px;
   padding: 15% 20% 15% 20%;



   input:checked+& {
      background-color: var(--mantine-color-blue-9);
      border-color: var(--mantine-color-blue-9);

      &>.thumb {
         &::before {
            background-color: var(--mantine-color-blue-9);
         }
      }

      &:hover>.thumb {
         background-color: var(--mantine-color-gray-3);
      }

      &:hover>.track {
         background-color: var(--mantine-color-blue-7);
      }
   }

   input+& {
      background-color: var(--mantine-color-blue-9);
      border-color: var(--mantine-color-blue-9);

      &>.thumb {
         &::before {
            background-color: var(--mantine-color-blue-9);
         }
      }
   }
}

label {
   line-height: normal;
}