.processBtn {
   height: 28vh;
   text-align: center;
   font-size: 20vh;
   padding: auto;
   background-image: linear-gradient(to bottom right, #4baafd, #228BE6);
   border: #1a6cb3 solid 5px;
   /*background-color: #228BE6;*/
}

.processBtn .mantine-Button-label {
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: #1a6cb3;
}

.processBtn:hover {
   background-image: linear-gradient(to bottom right, #228BE6, #1a6cb3);
   /*background-color: #1a6cb3;*/
   border: #15538a solid 5px;
}

.processBtn:focus {
   background-color: #228BE6;
   border: #509ee2 solid 5px;
}

.mantine-Card-root .mantine-Paper-root {
   height: 100% !important;
   min-height: 100% !important;
   width: 100% !important;
   min-width: 100% !important;
}