.processBtn {
   height: 28vh;
   text-align: center;
   font-size: 20vh;
   padding: auto;
   background-image: linear-gradient(to bottom right, #4baafd, #228BE6);
   border: #1a6cb3 solid 5px;
}

.processBtn .mantine-Button-label {
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: #1a6cb3;
}

.processBtn:hover {
   background-image: linear-gradient(to bottom right, #228BE6, #1a6cb3);
   border: #15538a solid 5px;
}

.processBtn:focus {
   background-color: #228BE6;
   border: #509ee2 solid 5px;
}

.mantine-Card-root .mantine-Paper-root {
   height: 100% !important;
   min-height: 100% !important;
   width: 100% !important;
   min-width: 100% !important;
}

.mantine-Switch-input,
.mantine-Switch-track,
.mantine-Switch-label {
   cursor: pointer;
}

.dt {
   cursor: default;
}

.POWERStack {
   height: 100%;
}

.POWERBTN {
   border-width: 2px;
   border-color: darkgrey;
   border-style: solid;
}

.POWER,
.POWERLABEL {
   font-size: 2rem;
   font-weight: 700;
}

.POWERLABEL {
   line-height: 100%;
}

.stepShellHeader {
   background-color: rgba(128, 128, 128, 0.05);
   border-width: 0px 0px 2px 0px;
   border-color: rgba(128, 128, 128, 0.25);
   border-style: solid;
}

.resistorDisplay {
   margin: 0;
   padding: 0;
   height: 20px;
   width: 20px;
   border-width: 1px;
   border-style: solid;
   font-size: small;
}