.processBtn {
   height: 28vh;
   text-align: center;
   font-size: 20vh;
   padding: auto;
   background-image: linear-gradient(to bottom right, #4baafd, #228BE6);
   border: #1a6cb3 solid 5px;
}

.processBtn .mantine-Button-label {
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: #1a6cb3;
}

.processBtn:hover {
   background-image: linear-gradient(to bottom right, #228BE6, #1a6cb3);
   border: #15538a solid 5px;
}

.processBtn:focus {
   background-color: #228BE6;
   border: #509ee2 solid 5px;
}

.mantine-Card-root .mantine-Paper-root {
   height: 100% !important;
   min-height: 100% !important;
   width: 100% !important;
   min-width: 100% !important;
}

.mantine-Switch-input,
.mantine-Switch-track,
.mantine-Switch-label {
   cursor: pointer;
}

.dt {
   cursor: default;
}

.POWERStack {
   height: 100%;
}

.POWERBTN {
   border-width: 2px;
   border-color: darkgrey;
   border-style: solid;
}

.POWER,
.POWERLABEL {
   font-size: 2rem;
   font-weight: 700;
}

.POWERLABEL {
   line-height: 100%;
}

.stepShellHeader {
   background-color: rgba(128, 128, 128, 0.05);
   border-width: 0px 0px 2px 0px;
   border-color: rgba(128, 128, 128, 0.25);
   border-style: solid;
}

.StepShellHeightOverrides {
   height: 100%;
   min-height: 100%;
}

.resistorDisplay {
   margin: 0;
   padding: 0;
   height: 20px;
   width: 20px;
   border-width: 1px;
   border-style: solid;
   font-size: small;
}


/* ---------------- ScrollArea / Button height adjust ---------------- */
/* SCROLL AREA */
/*
.PPScrollArea :global(.mantine-ScrollArea-viewport),
.PPScrollArea :global(.mantine-ScrollArea-viewportInner) {
   height: 100%;
}

:global(.mantine-ScrollArea-viewport):has(.PPRoot) {
   height: 100%;
}

:global(.mantine-ScrollArea-viewportInner):has(.PPRoot) {
   height: 100%;
}

:global(.mantine-ScrollArea-content):has(.PPRoot) {
   height: 100%;
}
   */

/* BUTTONS */
/*
.PPRoot {
   height: 100%;
   width: 100%;
   display: grid;
   grid-template-rows: repeat(3, minmax(0, 1fr));
   gap: var(--mantine-spacing-lg);
}

.PPBtn {
   width: 100%;
   height: 100%;
   border-radius: 0;
}

.PPRoot :global(.mantine-Button-root) {
   height: 100% !important;
   min-height: 0 !important;


   --button-height: 100% !important;


   align-self: stretch;
   width: 100%;
   font-size: xx-large;
}

*/